---
layout: default
title: Home
---

<head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>

{% if page.url == "/" %}
---
layout: default
title: Home
---

<head>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>

{% if page.url == "/" %}
<div class="mainheading text-center">
</div>

<p class="intro-text">
  Quarks is the undergraduate magazine of IISc, offering a glimpse into our vibrant student community.
</p>

<!-- EVENTS SECTION -->
<section class="events-section">
  <div class="row">
    <div class="col-md-6">
      <h2><a href="/events">Events</a></h2>
      <p>
        Dive into the exciting events organized by the Quarks team. From workshops to open mics, we bring the IISc undergraduate community together.
      </p>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-4"><img src="https://picsum.photos/300/200?random=1" class="img-fluid" alt="Event photo 1"></div>
        <div class="col-4"><img src="https://picsum.photos/300/450?random=2" class="img-fluid" alt="Event photo 2"></div>
        <div class="col-4"><img src="https://picsum.photos/300/150?random=3" class="img-fluid" alt="Event photo 3"></div>
      </div>
    </div>
  </div>
</section>

<!-- BLOG SECTION -->
<section class="blog-section mt-5">
  <div class="section-title">
    <h2><a href="/all-posts"><span>Blog</span></a></h2>
  </div>
  <div class="row listrecent">
    {% assign blog_posts = site.posts | where: "all", true | slice: 0, 3 %}
    {% for post in blog_posts %}
      {% include postbox.html %}
    {% endfor %}
  </div>
</section>

<!-- PHOTO ARCHIVE -->
<section class="photo-archive mt-5">
  <div class="section-title">
    <h2><a href="/photoarchive"><span>Photo Archive</span></a></h2>
  </div>
  <div class="row">
    <div class="col-4"><img src="https://picsum.photos/300/200?random=1" class="img-fluid" alt="Photo 1"></div>
    <div class="col-4"><img src="https://picsum.photos/300/450?random=2" class="img-fluid" alt="Photo 2"></div>
    <div class="col-4"><img src="https://picsum.photos/300/150?random=3" class="img-fluid" alt="Photo 3"></div>
  </div>
</section>

{% endif %}


{% endif %}


<!-- Pagination -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>
